/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

section {
  padding: 40px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

h1,
h2 {
  color: #333;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

/* Contact form styles */
form {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="radio"] {
  min-width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
